.container{
    background-color: rgb(53, 91, 195) !important;
}

h1{
    background-color: black !important;
    color: white !important;
}
img{
    height: 200px;
    margin-bottom: 4px;
    margin-top: 0;
}
h3{
    color: white !important;
    background-color: black !important;
    border-radius: 5px;
    margin-top: 4px !important;
    padding: 5px;
}
ul{
    border-radius: 5px !important;
}
ul li{
    background-color: rgb(70, 69, 69) !important;
    color: rgb(228, 227, 227) !important;
    font-weight: 450;
    font-size: 22px !important
}
.card{
    background-color:rgb(226, 225, 225) !important;
}
 
 
