h1,h2,h3,h5,h6{
    font-weight:100;
    font-size:small !important;
 }
 
 h4{
     font-weight:300;
     font-size:smaller !important;
     background-color: black;
     color: white !important;
     text-align: center;
     padding: 8px;
     border-radius: 5px;
     margin: 2px;
 }
 .card{
     max-height: 100%;
     max-width: 100%;
 }
 #card{
     display: flex;
     flex-wrap: wrap;
 }
 img{
     height: 150px !important;
 }
 
 